.box1 {
    background-color:bisque;
    border:2px solid black;
    height:95%;
    width:95%;
    padding:2%
}

.deftext {
    font-size:0.65em;
    font-family: "Wittgenstein", Arial, Helvetica, sans-serif;
}

.removelinkdecor {
    text-decoration: none;
}

a:link {
    color:greenyellow
}

a:visited {
    color:green
}

a:hover {
    color:yellow
}

a:active {
    color:gold
}